body::before{
    display: block;
    content: '';
    height:60px ;
}


#map{
    width: 100%;
    height: 100%;
    border-radius: 14px;
}


@media(min-width: 768px){

    .news-input{
        width: 50%;
    }
}
